<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <ul>
                    <li><strong>Gill Thorpe</strong></li>
                    <li style="margin-left: -8px;"><a href="tel:0860730820">086 073 0820</a></li>
                    <li><a href="mailto:hello@gillthorpe.com">hello@gillthorpe.com</a></li>
                </ul>    
            </div>
            <div class="col-md-5">
                <p>
                    Living in Dublin, Ireland, I have recently graduated from the Textile and Surface Design degree course in NCAD. Previously graduating from Visual Communications at IADT, Dun Laoghaire, in 2012. I am very interested in craft based design and work with screen print, letterpress printing and weave. Please feel free to contact me about my work or any potential projects you may have.
                </p>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/main.js"></script>
</footer>
