/**
 * Variables
 */
$font-stack: Helvetica, sans-serif;
$brand-color: #333;
$background-color: #fff;
$base-font-family: Helvetica, sans-serif;
$base-font-size: 13px;
$base-line-height: 18px;
$text-color: #333;

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

/**
 * Lists
 */
ul, ol {
    list-style: none;
    list-style-type: none
}

li {
    > ul,
    > ol {

    }
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;
    padding-bottom: 2px;
    &:visited {

    }

    &:hover {
        color: darken($brand-color, 15%);
        color: $text-color;
        text-decoration: none;
        border-bottom: solid 1px;
    }
}
