/**
    Nav
*/

#nav {

}

/**
    Main
*/

#landing {
    margin-top: 10%;
    img.logo {
        width:100px;
        height: 50px;
        background-color: #eee;
        color: black;
    }

    h1 {
        font-size: 0.8em !important;
    }

    p {
        font-size: 0.7em;
    }
}

#work {
    padding-top: 30px;
    .row {
        div:nth-child(2n+2) {
            margin-top: 7em;
        }
    }
}

/**
    Footer
*/

footer {
    margin: 5em 0;
}
