/**
    Nav
*/

#nav {
    border: none;
    background-color: $background-color;
    min-height: 70px;
    a.navbar-brand {
        font-weight: 700;
        border: none;
    }
    a, p {
        font-size: $base-font-size;
        line-height: $base-line-height;
        color: $brand-color;
        padding: 3px;
        margin: 12px;
        a {
            &:hover {
                border-bottom: solid 1px;
            }
        }
    }
}

/**
    Main
*/

#work {

    margin-top: 30px;

    .row {
        @media screen and (min-width: 800px) {
            div.post:nth-child(2n+2) {
                margin-top: 7em;
            }
            div.post:nth-child(3n+3) {
                margin-top: 12em;
            }
        }
    }

    .post {
        .thumb-info {
            margin-top: 2em;
            line-height: 25px;
            cursor: default;
            h2.thumb-title {
                font-size: 14px;
            }
            p.thumb-description {

            }
            a.thumb-link {
                line-height: 50px;
                transition: margin 0.5s ease;
                border: none;
                &:hover{
                    margin-left: 10px;
                }
                &:after {
                   content: " \2192";
                }
            }
        }
    }

}

/**
    Footer
*/

footer {
    margin: 5em 0;
    p {

        font-size: $base-font-size;
        line-height: $base-line-height + 2;
    }
}
